{{!-- Link in Full Page Modal for Viewing Archives --}}
<link href="/cdn/bootstrap-3.3.7/css/bootstrap-modal-carousel.css" rel="stylesheet" type="text/css">
{{!-- Link in View Author Letters Page CSS --}}
<link href="/assets/style/view-author.css" rel="stylesheet" type="text/css">


{{!-- Title using author-name or Name --}}
{{!-- <h1  class="author-name" align="center"></h1> --}}
<div class="row">
  <div class="col-md-8 col-md-offset-2 col-xs-12">
    <center>
      <img id="author-signature" src="https://s3.amazonaws.com/kean-wwii-scrapbook/author-signatures/{{hbsObject.lastName}}-{{hbsObject.firstName}}.png" alt="{{hbsObject.displayFirstName}} {{hbsObject.displayLastName}}">
    </center>
  </div>
</div>

<br/><br/>

{{!-- Row for Image and Bio --}}
<div class="row">

  {{!-- Image --}}
  <div class="col-md-4 col-xs-12">
    <center>
      <img id="author-photo" src="https://s3.amazonaws.com/kean-wwii-scrapbook/author-photos/{{hbsObject.lastName}}-{{hbsObject.firstName}}.jpg" alt="Photo of {{hbsObject.firstName}} {{hbsObject.lastName}}">
    </center>
  </div>

  {{!-- Bio --}}
  <div class="col-md-8 col-xs-12">
    <div style="margin-left: 20%;">
    {{!-- <div class="col-md-offset-0 col-xs-offset-3" > --}}

      {{!-- Repeat their name --}}
      <h3 class="author-name">{{hbsObject.displayFirstName}} {{hbsObject.displayLastName}}</h3>

      {{!-- Important Facts --}}
      <ul>
        <li id="bio-birth"><b>Date of Birth: </b> </li>
        <li id="bio-death"><b>Date of Death: </b> </li>
        <li id="bio-enrolled"><b>Enrolled: </b> </li>
        <li id="bio-left"><b>Left N.S.T.C. for service: </b> </li>
        <li id="bio-return"><b>Return to N.S.T.C. from service: </b> </li>
        <li id="bio-graduated"><b>Graduated from N.S.T.C.: </b> </li>
        <li id="bio-degree"><b>Degree: </b> </li>
      <ul>

    </div>
  </div>

  <br/><br/>
<div>


{{!-- Row for Letters --}}
<div class="row">


  {{!-- Letters Title --}}
  <div class="col-md-12">
    <center><h2 id="mapped-letter">Letters</h2></center>
  </div>


  <div class="row">
    {{!-- Drop Down of all Letters to View --}}
    <div class="col-md-12">
      <br/>
      <center>
        {{!-- Drop Down --}}
        <div class="input-group">
          <b>Select a Letter: </b>
          <button id="selectLetter" type="button" class="btn btn-default dropdown-toggle searchButtons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i><span id="currentLetter">{{hbsObject.defaultFileName}}</span> </i><span class="caret"></span>
          </button>
          <ul id="letterDropDown" class="dropdown-menu">

            {{!-- Create Drop Down Menu for Letters --}}
            {{#if hbsObject.letterData}}

              {{!-- Dynamically Append File Names to the Read Drop Down Menu --}}
              {{#each hbsObject.letterData}}
                <li class="letterListItem" data-pages="{{pages}}"><a data-pages="{{pages}}">{{filename}}</a></li>
              {{/each}}
            
            {{!-- Otherwise, no letters were found --}}
            {{else}}
              <li class="letterListItem" data-pages="1"><a>{{hbsObject.defaultFileName}}</a></li>
            {{/if}}

          </ul>
        </div>
      </center>
    </div>
  </div>

  <br/>


  {{!-- Side By Side Letters and Transcribe --}}
  <div class="row">

   {{!-- Letter Images --}}
    <div class="col-md-6 col-xs-12">
      <center>
        <h4>
          {{!-- <a href="#" aria-label="Previous"><span aria-hidden="true">&lsaquo;</span></a> --}}
          <a id="transcript-button-left" class="btn btn-default transcript-button"><i class="glyphicon glyphicon-menu-left"></i></a>
          View Archive <span id="currentLetterNumber">1</span> of <span id="lastLetterNumber">{{hbsObject.defaultFilePages}}</span> 
          <a id="transcript-button-right" class="btn btn-default transcript-button"><i class="glyphicon glyphicon-menu-right"></i></a>
          {{!-- <a href="#" aria-label="Next"><span aria-hidden="true">&rsaquo;</span></a> --}}
        </h4>
        <img id="letterImage" src="https://s3.amazonaws.com/kean-wwii-scrapbook/archives/{{hbsObject.awsDefaultFileName}}+1-{{hbsObject.defaultFilePages}}.jpg" alt="{{hbsObject.defaultFileName}}" width="90%" style="height: 650px; background-color: #ffffff; margin-bottom: 20px;">
        <p><b>Double click archive to view full size.</b></p>
      </center>
    </div>

    {{!-- Letter Transcribe --}}
    <div class="col-md-6 col-xs-12">
      <center>
        <h4>
          <button class="btn btn-default hide-used-as-placeholder"><i class="glyphicon glyphicon-menu-up"></i></button>
          View Transcript
          <button class="btn btn-default hide-used-as-placeholder"><i class="glyphicon glyphicon-menu-down"></i></button>
        </h4>
        <div style="height: 650px; width: 90%; padding: 30px; overflow: auto; background-color: #e5e5e3; margin-bottom: 20px;">
          {{!-- Dynamically Append Letter Text --}}
          <p id="letterText" style="text-align: left;"></p>
        </center>
      <div>
    </div>

  </div>

  <br/><br/>
</div>


{{!-- Row for Map --}}
<div class="row">

 {{!-- Map Title --}}
  <div class="col-md-12">
    <center><h2>Map</h2></center>
  </div>


  <div class="row">
    {{!-- Drop Down of all Years to View --}}
    <div class="col-md-12">
    </div>
  </div>

  <br/>


  {{!-- View Author's Letters on Map --}}
  <div class="row">

    {{!-- Google Map Row --}}
    <div class="col-md-12">
      <center>
        {{!-- Custom Map Error Message --}}
        <div id="maperror"></div>

        {{!-- Google Map --}}
        <div id="map"></div>

        {{!-- Notes on which letter was selected --}}
        <br><b><div id="traversal"></div></b><br>

        {{!-- Google Map Legend --}}
        <div id="legend"><h3>Legend</h3></div>
      </center>
    </div>

    {{!-- Map Marker Controls Row --}}
    <div class="col-md-12" style="padding-bottom: 20px;">
      <center>
        <div id="marker_traveller">
          <button onclick="goto_first_marker()" class="btn btn-primary">First Letter</button>
          <button onclick="goto_final_marker()" class="btn btn-primary">Final Letter</button><br><br>
          <button onclick="goto_previous_marker()" class="btn btn-info">Previous Letter</button>
          <button onclick="goto_next_marker()" class="btn btn-info">Next Letter</button><br><br>
          <button onclick="toggle_legend_visibility()" class="btn btn-success">Toggle Legend View</button>
          <button onclick="reset_map_view()" class="btn btn-warning">Reset Map View</button>
        </div>
      </center>
    </div>

  </div>

</div>




{{!-- Modal for Archive Image --}}
{{!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <center>
          <iframe src="https://s3.amazonaws.com/kean-wwii-scrapbook/archives/Edward+Ambry+September+28+1944+1-2.jpg" style="width: 100%; height: 100%;"></iframe>
        </center>
      </div>
    </div>
  </div>
</div>
 --}}






{{!-- <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">              
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <img src="" class="imagepreview" style="width: 100%;" >
      </div>
    </div>
  </div>
</div>
 --}}

<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">              
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <center>
          <img src="" class="imagepreview" style="width: 50%;" >
        </center>
      </div>
    </div>
  </div>
</div>



{{!-- <button type="button" class="btn" data-toggle="modal" data-target="#myModal">Demo</button> --}}

{{!-- <div class="modal fade modal-fullscreen force-fullscreen" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body…</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
 --}}




{{!-- Link in JavaScript to collect all letter names from API --}}
<script src="/assets/javascripts/view-author.js"></script>

{{!-- Link in Functions that Build the Map and Legend --}}
<script type="text/javascript" src="/map/map_js/map-author-letters.js"></script>
<script type="text/javascript" src="/map/map_js/map-control-buttons.js"></script>

{{!-- Google Maps API Resources --}}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB05-SFEl3YsAHMQr97OOu66W9qpQTL-s8&callback=initMap"></script>

{{!-- Link in Mapping Libraries --}}
<script type="text/javascript" src="/map/map_libraries/OverlappingMarkerSpiderfier.js"></script>
<script type="text/javascript" src="/map/map_libraries/markerwithlabel.js"></script>
<script type="text/javascript" src="/map/map_libraries/polyline_labels.js"></script>